body {
  background-color: #fdf6e3;
}
header, footer {
  font-size: 1.5rem;
}
nav > ul {
  font-family: sans-serif;
}
.logo {
  text-transform: uppercase;
}
.wrapper {
  background-color: #eee8d5;
}
#contents {color: #93a1a1}
#favs {color: #93a1a1}
#facts {color: #93a1a1}
#types {color: #93a1a1}
.wrapper > .dfn {background-color: #eee8d5;}
p + strong {coloe: #fff;}
a:not(.no-highlight){background-color: #657ba3}
[rel="external"] {background-color: #2694d8}
